﻿@model IEnumerable<Pre.Models.App>

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Application</h4>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        @*<dd>
                @Html.DisplayFor(result => result.Select(x => x.ID))
            </dd>*@
        @*<dt>
                @Html.DisplayNameFor(model => model.Application_Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Application_Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Content)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Content)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Date_Making)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Date_Making)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Verified)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Verified)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Rating)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Rating)
            </dd>*@
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
