﻿@model IEnumerable<Pre.Models.App>

@{
    ViewData["Title"] = "Home";
}

<h2>Home</h2>

<p>
    <a asp-action="Create">Создать новую работу</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <h3>Мои работы:</h3>
            </th>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Application_Name)
              
                    @Html.DisplayFor(modelitem=>item.Content)
                </td>

                <td>

                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>
</table>
